<div class="exp-edu-table">
  <h2>education</h2>
  <!-- {% if site.education  %} -->
    <div class="table-responsive">

      
      <table class="table table-sm table-borderless">
      {% assign education = site.data.education %}
      {% for entry in education %}
      {% assign key = entry | first %}
        <tr>
          <th  scope="row">{{education[key].graduated-year}} </th>
          <td>
              <span class="title" >{{ education[key].field }}</span>
              <span class="description" >{{ education[key].location }}</span>
          </td>
        </tr>
      {% endfor %}
      </table>
    </div>
  <!-- {% else %}
    <p>No education field added so far...</p>
  {% endif %} -->
</div>
