---
layout: default
---

<div class="post">
  <header class="post-header">
    <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
      {% if page.profile.image %}
      <img class="img-fluid z-depth-1 rounded" src="{{ page.profile.image | prepend: '/assets/img/' | relative_url }}">
      {% endif %}
    </div>
    <div>
      <h1 class="post-title">
        <span class="font-weight-bold">{{ site.first_name }}</span> 
        {{ site.last_name }}
      </h1>
      <p class="desc">{{ page.description }}</p>
      {% if page.profile.address %}
      <p class="desc">
        <!-- {{ page.profile.address }} -->
      </p>
      {% endif %}

      <p class="desc">
        I'm familiar with Object-Oriented Programming language such as C++, Python, Java, and Kotlin.
      </p>

      <p class="desc">
        I also love to use an embeded system to make my life easier, and I like to share those stuff to the community as well.
      </p>

      {% if page.social%}
      <div class="desc">
          {% assign sm = site.data.social-media %}
          {% for entry in sm %}
              {% assign key = entry | first %}
                  <a class="social-media" href="{{ sm[key].href }}" title="{{ sm[key].title }}"> <i style="width:1rem; align-self: center;", class="{{ sm[key].fa-icon }}"> </i>  {{ sm[key].title }}   </a>
    
          {% endfor %}
      </div>
      {% endif %}

    </div>

    

  </header>


  <!-- <div class="col-sm mt-3 mt-md-0">
    <iframe width="100%" height="400px" src="https://www.youtube.com/embed/lyH1x3b3NAI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div> -->



  <article>

    {% if page.profile %}
    <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
      <!-- {% if page.profile.image %}
        <img class="img-fluid z-depth-1 rounded" src="{{ page.profile.image | prepend: '/assets/img/' | relative_url }}">
      {% endif %} -->
      <!-- {% if page.profile.address %}
      <div class="address">
        {{ page.profile.address }}
      </div>
      {% endif %} -->
    </div>
    {% endif %}

    <div class="clearfix">
      {{ content }}
      <p></p>
      <p></p>
    </div>

    {% if page.education %}
    {% include education.html %}
    {% endif %}

    {% if page.experience %}
    {% include experience.html %}
    {% endif %}

    
  </article>

</div>